@import url('owl.carousel.css');

@font-face {
	font-family: 'opensans_regular';
	src: url("../fonts/opensans-regular-webfont.eot");
	src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
	url("../fonts/opensans-regular-webfont.woff") format("woff"),
	url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
	url("../fonts/opensans-regular-webfont.svg#opensans_regular") format("svg");
	font-weight: normal;
	font-style: normal; }

	@font-face {
		font-family: 'opensans-semibold';
		src: url("../fonts/opensans-semibold-webfont.eot");
		src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
		url("../fonts/opensans-semibold-webfont.woff") format("woff"),
		url("../fonts/opensans-semibold-webfont.ttf") format("truetype"),
		url("../fonts/opensans-semibold-webfont.svg#opensans-semibold") format("svg");
		font-weight: normal;
		font-style: normal; }

		*{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		body {
			margin: 0;
			width: 100%
		}
		#wrapper{
			position: relative;
			overflow: hidden;
		}
		/* HEADER */

		#header {
			width: 1170px;
			margin: auto;
			overflow: hidden;
		}
		#header img {
			float: left;
			margin: 0;
			padding: 22px 0;
		}
		.menu-container ul {
			margin: 0;
			float: right;
			overflow: hidden;
		}
		.menu-container li {
			display: inline-block;
		}
		.menu-container li.active a,
		.menu-container a:hover {
			color: #49cbcd;
			background: #f8f9fb;
			border-bottom: 2px solid #49cbcd;
		}
		.menu-container a {
			color: #484c55;
			display: block;
			font: 15px "opensans_regular";
			padding: 30px 20px;
			text-decoration: none;
		}

		/* BANNER */

		.item .text {
			top: 185px;
			color: #fff;
			width: 100%;
			margin: auto;
			text-align: center;
			position: absolute;
			display: block;
		}
		.text h1 {
			font: 63px "opensans-semibold";
			margin: 0;
		}
		.text p {
			font: 23px "opensans_regular";
		}
		.text a {
			color: #fff;
			text-decoration: none;
			border: 3px solid #fff;
			padding: 15px 40px;
			display: inline-block;
			border-radius: 5px;
			margin-top: 45px;
			font: 26px "opensans-semibold";
		}
		.btn-l:hover {
			color: #44c0c2;
			background: #fff;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.bx-wrapper {
			width: 100%;
			margin: 0 auto;
			position: relative;
		}
		.bx-prev, .bx-next {
			text-decoration: none;
			position: absolute;
			top: 50%;
			margin-top: -15px;
			border: 1px solid rgba(255,255,255,0.7);
			color: rgba(255,255,255,0.7);
			width: 50px;
			height: 50px;
			line-height: 46px;
			font-size: 49px;
			text-align: center;
			border-radius: 50%;
			transition: all ease .3s;
			z-index: 10;
			cursor: pointer;
		}
		.bx-prev:hover, .bx-next:hover, .bx-prev:active, .bx-next:active {
			background: #fff;
			color: #49cbcd;
		}
		.bx-prev {
			left: 20px;
		}
		.bx-next {
			right: 20px;
		}
		.bx-prev:before, .bx-next:before {
			font-family: "FontAwesome";
		}
		.bx-prev:before {
			content: "\f104";
			margin-right: 5px;
		}
		.bx-next:before {
			content: "\f105";
			margin-left: 5px;
		}
		.bx-caption {
			position: absolute;
			width: 50%;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition: .3s ease-in-out;
			padding: 2em;
			background: rgba(255,255,255,.9);
			z-index: 2;
			text-align: center;
			text-transform: uppercase;
			font-family: 'Comfortaa', cursive;
		}

		/* TEAM */

		#team {
			width: 1170px;
			text-align: center;
			margin: 110px auto;
			overflow: hidden;
		}
		#team h2 {
			color: #4e525d;
			font: 42px "opensans_regular";
			margin: 0 auto 130px;
		}
		#team li {
			width: 25%;
			float: left;
			position: relative;
		}
		.block img {
			display: block;
			margin: 0 auto;
		}
		.block .hover {
			display: none;
			position: absolute;
			margin: 0;
			left: 0;
			bottom: 120px;
			opacity: 0.7;
		}
		.block:hover .hover {
			display: block;
		}
		.hover a {
			margin: 0;
			opacity: 1;
			border-radius: 100%;
		}
		.hover i {
			position: absolute;
			z-index: 9999;
			color: red;
			font-size: 44px;
			top: 40%;
			left: 85px;
		}
		.block {
			width: 200px;
			margin: auto;
			position: relative;
		}
		.name {
			margin: 70px auto;
			padding: 0 20px;
			position: relative;
		}
		.top-name h4 {
			color: #4e525d;
			font: 22px "opensans_regular";
			margin: 0;
		}
		.top-name p {
			color: #4e525d;
			font: 14px "opensans_regular";
			margin: 0 0 5px;
		}
		.name p {
			color: #4e525d;
			font: 14px "opensans_regular";
			line-height: 27px;
		}

		/* SERVISE */

		#service  {
			width: 100%;
			margin: auto;
			background-color: #f1f1f1;
		}
		.service-align {
			width: 1170px;
			text-align: center;
			overflow: hidden;
			margin: auto;
			padding: 95px 0 170px;
		}
		.price-left, .price-center, .price-right {
			float: left;
			width: 31.15%;
			border: 1px solid #ecf0f1;
		}
		.price-left {
			margin-right: 1.5%;
		}
		.price-center {
			margin: 0 1.5%;
		}
		.price-right {
			margin-left: 1.5%;
		}
		.price-text {
			background: #485460;
			position: relative;
		}
		.service-price {
			background:#fff;
			position: relative;
			margin: 0 0 22px 0;
		}
		.price-text h3 {
			padding: 30px;
			margin: 0;
			font: 26px "opensans_regular";
			color: #fff;
		}
		.service-price h4 {
			padding: 25px 30px;
			font: 20px "opensans_regular";
			margin: 0;
			color: #485460;
			background: #f8f9fb;
		}
		.service-price p {
			font: 14px "opensans_regular";
			color: #abafb4;
			padding: 0 30px;
		}
		.service-price hr {
			margin: 0;
			border: none;
			height: 1px;
			background-color: #ecf0f1;
		}
		.button {
			padding: 22px 96px;
			position: absolute;
			background: #f8f9fb;
			top: 461px;
		}
		.btn {
			color: #fff;
			font: 17px "opensans-semibold";
			padding: 10px 50px;
			border-radius: 3px;
			display: block;
			text-decoration: none;
			background: #485460;
		}
		.price-btn h3 {
			color: #fff;
			position: relative;
			background:  #485460;
		}
		.price-btn .button .btn:hover {
			color: #fff;
			background: #3eb3b5;
		}

		/* CONTACT */

		#contact {
			width: 100%;
			background: url("../images/bottom-img.jpg") no-repeat;
			background-size: cover;
			margin: auto;
			display: block;
			position: relative;
			overflow: hidden;
		}
		.contact-center {
			width: 1170px;
			margin: auto;
		}
		.contact-center h2 {
			color: #fff;
			font: 42px "opensans_regular";
			text-align: center;
			margin: 90px;
		}
		.container-one, .container-two {
			width: 50%;
			float: left;
		}
		.first {
			padding: 0 17px 0;
		}
		.first h3 {
			font: 25px "opensans_regular";
			margin: 15px 0;
		}
		.first p {
			font: 16px "opensans_regular";
		}
		.social i {
			border-radius: 50%;
			padding: 10px 10px 10px 10px;
			color: #fff;
			text-align: center;
			width: 20px;
		}
		.social .fa-facebook {
			background: #3b5997;
			padding: 10px 30px 10px 15px;
		}
		.social .fa-facebook:hover {
			background: #394f7d;
		}
		.social .fa-twitter {
			background: #3ec2f3;
			padding: 10px 33px 10px 12px;
			margin: 0 10px;
		}
		.social .fa-twitter:hover {
			background: #418daa;
		}
		.social .fa-google-plus {
			background: #e44c41;
			padding: 10px 33px 10px 12px;
		}
		.social .fa-google-plus:hover {
			background: #a43129;
		}
		.container-one {
			color: #fff;
		}
		.container-one p {
			color: #767676;
			padding: 0 0 10px;
		}
		.social a {
			text-decoration: none;
			color: #9688b0;
			font-size: 25px;
		}
		.container-one li {
			list-style-type: none;
			line-height: 1.5;
		}
		.contacts a {
			text-decoration: none;
			color: #9688b0;
		}
		.contacts ul {
			padding: 15px 0;
		}
		.container-two .form {
			height: 350px;
			margin-bottom: 100px;
		}

		/* FORM */

		form {
			margin-left: 0;
		}
		input {
			margin: 15px;
			padding: 15px;
			width: 262px;
			border-radius: 3px;
			color: #cdcdcd;
			font-size: 16px;
			border: none;
			float: right;
		}
		.input {
			padding: 15px 345px 145px 15px;
			width: 554px;
		}
		button {
			color: #fff;
			padding: 10px 60px;
			border-radius: 3px;
			font: 22px "opensans_regular";
			background: #49cbcd;
			border: none;
			margin: 14px 12px;
			float: right;
		}
		button:hover {
			background: #3eb3b5;
		}


		/* Responsive */

		@media screen and (max-width: 1440px) {
			.item .text {
				top: 185px;
			}
		}

		@media screen and (max-width: 1280px) {
			.item .text {
				top: 185px;
			}
		}

		@media screen and (max-width: 1200px) {
			#header {
				width: 1024px;
			}
			.item .text {
				top: 185px;
			}
			#team {
				width: 1024px;
			}
			#team h2 {
				margin: 0 auto 80px;
			}
			.block .hover {
				left: 0;
				bottom: 120px;
			}
			.name {
				margin: 30px 10px 0;
			}
			.service-align {
				width: 1024px;
			}
			.button {
				padding: 22px 73px;
			}
			.btn {
				font: 17px "opensans-semibold";
				padding: 10px 50px;
			}
			.contact-center {
				width: 1024px;
			}
			input {
				width: 220px;
				margin: 18px;
				padding: 12px 13px 13px;
			}
			.input {
				width: 475px;
				padding: 15px 263px 145px 20px;
			}

			button {
				margin: 14px 15px;
			}
		}

		@media screen and (max-width: 1080px){
			#header {
				width: 970px;
			}
			.item .text {
				top: 185px;
			}
			#team {
				width: 970px;
			}
			.service-align {
				width: 970px;
			}
			.button {
				padding: 22px 64px;
			}
			.contact-center {
				width: 970px;
			}
			input {
				width: 206px;
			}
			.input {
				width: 450px;
			}
		}

		@media screen and (max-width: 1024px) {
			#header {
				width: 960px;
				margin: 0 30px;
			}
			.bx-wrapper, .bxslider img {
				height: 430px;
			}
			.item .text {
				top: 100px;
			}
			.text h1 {
				font: 50px "opensans-semibold";
			}
			.text a {
				padding: 10px 20px;
				margin-top: 20px;
				font: 22px "opensans-semibold";
			}
			#team {
				width: 960px;
				margin: 50px auto;
			}
			.block .hover {
				left: -5px;
				bottom: 105px;
			}
			.box a {
				margin: 0 20px 60px;
			}
			#team h2 {
				margin: 0 auto 60px;
			}
			.service-align {
				width: 960px;
			}
			.button {
				padding: 22px 63px;
			}
			.btn {
				padding: 10px 50px;
			}
			.contact-center {
				width: 960px;
			}
			input {
				width: 210px;
				margin: 15px;
				padding: 15px 140px 15px 15px;
			}
			.input {
				padding: 15px 135px 145px 20px;
			}
		}

		@media screen and (max-width: 960px) {
			#header {
				width: 900px;
				margin: 0 20px;
			}
			.item .text {
				top: 90px;
			}
			.nav a {
				padding: 30px 15px;
			}
			#team {
				width: 900px;
			}
			#team li {
				width: 50%;
			}
			.box {
				width: 50%;
			}
			.box a {
				margin: 0 125px 60px;
			}
			.name {
				margin: 30px 60px 70px;
			}
			.service-align {
				width: 900px;
			}
			.button {
				padding: 22px 54px;
			}
			.btn {
				padding: 10px 50px;
			}
			.contact-center {
				width: 900px;
			}
			.contact-center h2 {
				margin: 50px auto;
			}
			input {
				width: 195px;
				margin: 15px;
				padding: 15px;
			}
			.input {
				width: 420px;
				padding: 15px 135px 145px 20px;
			}
		}

		@media screen and (max-width: 800px) {
			#header {
				width: 740px;
			}
			.bx-wrapper, .bxslider img {
				height: 350px;
			}
			.item .text {
				top: 50px;
			}
			.menu-container {
				font-family: "Open Sans", sans-serif;
				top: 0;
				position: fixed;
				z-index: 100;
				background: #cec3c3;
				width: 105px;
				right: -105px;
				line-height: 40px;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
			.menu-container.menu-open {
				right: 0px;
			}
			.toggle-menu {
				top: 20px;
				right: 0;
				height: 40px;
				margin: 0 20px;
				position: fixed;
				z-index: 100;
				cursor: pointer;
				padding: 10px 10px;
				background: #49cbcd;;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
			.toggle-menu .icon-bar {
				height: 3px;
				display: block;
				width: 30px;
				opacity: 1;
				background: #fff;
				margin-bottom: 5px;
				-webkit-transition: all 0.8s ease-in-out;
				-moz-transition: all 0.8s ease-in-out;
				transition: all 0.8s ease-in-out;
			}
			.toggle-menu.active {
				right: 105px;
			}
			.toggle-menu .icon-bar:last-child {
				margin-bottom: 0;
			}
			.toggle-menu .icon-bar.hide-closed {
				transition-duration: 0.4s;
			}
			.toggle-menu.active {
				padding-top: 18px;
				height: 40px;
			}
			.toggle-menu.active .icon-bar {
				margin-bottom: -3px;
			}
			.toggle-menu.active .skew-clock {
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			.toggle-menu.active .hide-closed {
				opacity: 0 !important; }
				.toggle-menu.active .skew-counter {
					-ms-transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
				.menu-text {
					font-family: "Open Sans", sans-serif;
					top: 0;
					right: 100px;
					position: fixed;
					color: #000;
					font-size: 20px;
					line-height: 75px;
					text-transform: uppercase;
				}
				.menu {
					width: 100%;
					margin: 0 0 30px 0;
					list-style: none;
				}
				.menu li {
					border-bottom: 1px solid #9e9e9e;
					width: 100%;
					-webkit-transition: background-color 0.3s;
					-moz-transition: background-color 0.3s;
					-o-transition: background-color 0.3s;
					-ms-transition: background-color 0.3s;
					transition: background-color 0.3s;
				}
				.menu li:hover, .menu li.active {
					background-color: rgba(0, 0, 0, 0.15);
				}
				.menu-container li.active a, .menu-container a:hover {
					color: #49cbcd;
					padding: 10px;
					background: #f8f9fb;
					border-bottom: 2px solid #49cbcd;
				}
				.menu li a {
					display: block;
					color: #484c55;
					text-transform: uppercase;
					font-size: 16px;
					text-decoration: none;
					padding: 10px;
				}
				.menu li a:hover {
					color: #bdbdbd;
					padding: 10px;
					background: #f8f9fb;
					border-bottom: 2px solid #49cbcd;
				}
				.menu li .current-menu-item {
					color: #00bbeb;
				}
				.nav a {
					padding: 30px 15px;
				}
				#team {
					width: 704px;
					margin: 40px auto 0;
				}
				#team h2 {
					margin: 0 auto 35px;
				}
				.box a {
					margin: 0 75px 60px;
					height: 160px;
				}
				.name {
					margin: 30px 30px 70px;
				}
				.service-align {
					width: 704px;
					padding: 70px 0 0;
				}
				.price-left {
					margin-right: 0;
				}
				.price-center {
					margin: 0; 
				}
				.price-right {
					margin-left: 0; 
				}
				.price-left, .price-center, .price-right {
					float: none;
					width: 70%;
					margin: 0 auto 100px;
				}
				.button {
					padding: 22px 160px;
				}
				.btn {
					padding: 10px 50px;
				}
				.contact-center {
					width: 704px;
				}
				.container-one, .container-two {
					width: 100%;
				}
				.first, .second {
					text-align: center;
					padding: 0 100px 0;
				}
				form {
					margin: 30px auto;
				}
				input {
					width: 475px;
					padding: 15px 264px 15px 15px;
				}
				.input {
					width: 475px;
					padding: 15px 259px 145px 20px;
				}
				button {
					float: none;
				}
			}

			@media screen and (max-width: 720px) {
				#header {
					width: 660px;
				}
				.nav a {
					padding: 30px 15px;
				}
				.text h1 {
					font: 40px "opensans-semibold";
				}
				.text p {
					font: 20px "opensans_regular";
				}
				.text a {
					padding: 10px 21px;
					margin-top: 10px;
					font: 20px "opensans-semibold";
				}
				.name {
					margin: 30px 10px 40px;
				}
				.item .text {
					top: 50px;
				}
				.bx-wrapper, .bxslider img {
					height: 300px;
				}
				#team {
					width: 660px;
				}
				.service-align {
					width: 660px;
				}
				.button {
					padding: 22px 144px;
				}
				.btn {
					padding: 10px 50px;
				}
				.contact-center {
					width: 660px;
				}
				input {
					width: 430px;
				}
				.input {
					width: 430px;
				}
			}

			@media screen and (max-width: 640px) {
				#header {
					width: 585px;
					margin: 0 20px;
				}
				.nav a {
					padding: 30px 0;
				}
				.item .text {
					top: 55px;
				}
				.text h1 {
					font: 40px "opensans-semibold";
				}
				.text p {
					font: 20px "opensans_regular";
				}
				.text a {
					padding: 5px 15px;
					margin-top: 0;
					font: 20px "opensans-semibold";
				}
				#team {
					width: 585px;
					margin: 0 auto;
				}
				#team h2 {
					font: 35px "opensans_regular";
				}
				.box {
					width: 100%;
				}
				.box a {
					height: 160px;
					margin: 0 192px 60px;
				}
				.name {
					margin: 30px 10px 40px;
				}
				.service-align {
					width: 585px;
					padding: 65px 53px 0;
				}
				.price-left, .price-center, .price-right {
					width: 100%;
					margin: 0;
				}
				.price-left {
					margin-left: 0;
				}
				.service-price {
					margin: 0 0 180px 0;
				}
				.button {
					padding: 22px 122px;
				}
				.btn {
					padding: 20px 81px;
					font: 17px "opensans-semibold";
				}
				.contact-center {
					width: 585px;
				}
				.container-one, .container-two {
					width: 100%;
					text-align: center;
				}
				.second {
					width: 585px;
				}
				form {
					margin: 30px auto;
				}
				input {
					width: 355px;
					padding: 15px 240px 15px 15px;
				}
				.input {
					width: 355px;
					padding: 15px 235px 145px 20px;
				}
				button {
					float: none;
				}
			}

			@media screen and (max-width: 540px) {
				#header {
					width: 485px;
				}
				.bx-prev, .bx-next {
					position: inherit;
				}
				.item .text {
					top: 45px;
				}
				.bx-wrapper, .bxslider img {
					height: 220px;
				}
				.text h1 {
					font: 23px "opensans-semibold";
				}
				.text p {
					font: 14px "opensans_regular";
				}
				.text a {
					font: 14px "opensans-semibold";
				}
				#team {
					width: 50%;
					margin: auto;
				}
				#team li {
					width: 100%;
				}
				.box a {
					margin: 0 142px 60px;
				}
				.service-align {
					width: 485px;
					padding: 65px 41px 0;
				}
				.button {
					padding: 22px 115px;
					margin: 0 auto;
				}
				.btn {
					padding: 22px 50px;
					font: 17px "opensans-semibold";
				}
				.contact-center {
					width: 485px;
				}
				.contact-center h2 {
					font: 35px "opensans_regular";
				}
				.second {
					width: 485px;
					padding: 0 60px 0;
				}
				form {
					width: 365px;
				}
				input {
					width: 335px;
					padding: 15px 230px 15px 15px;
				}
				.input {
					width: 335px;
					padding: 15px 15px 145px 15px;
				}
			}

			@media screen and (max-width: 480px) {
				#header {
					width: 400px;
				}
				.item .text {
					top: 50px;
				}
				#team {
					width: 400px;
				}
				.box a {
					margin: 0 100px 60px;
				}
				.name {
					margin: 30px 65px 70px;
				}
				.service-align {
					width: 400px;
					padding: 0;
				}
				.button {
					padding: 22px 120px;
					margin: 0 auto;
				}
				.btn {
					padding: 20px 50px;
					font: 14px "opensans-semibold";
				}
				.contact-center {
					width: 400px;
				}
				.first {
					padding: 0 20px 0;
				}
				.social {
					margin: 40px auto;
				}
				.second {
					width: 400px;
					padding: 0;
				}
				input {
					padding: 15px 160px 15px 15px;
				}
				.input {
					padding: 15px 155px 145px 20px;
				}
			}

			@media screen and (max-width: 400px) {
				#header {
					width: auto;
					z-index: 100;
				}
				.logo {
					margin: 19px 20px;
				}
				.bx-wrapper, .bxslider img {
					height: 200px;
				}
				.nav a {
					font: 10px "opensans_regular";
					padding: 10px 10px;
				}
				.item .text {
					top: 40px;
				}
				.text h1 {
					font: 23px "opensans-semibold";
				}
				.text p {
					font: 12px "opensans_regular";
				}
				.text a {
					padding: 2px;
					margin-top: 0;
					border: 2px solid #fff;
					font: 12px "opensans-semibold";
				}
				.bx-prev, .bx-next {
					top: 42%;
					width: 30px;
					height: 30px;
					line-height: 25px;
					font-size: 30px;
				}
				#team {
					width: 352px;
				}
				.box a {
					margin: 0 75px 60px;
				}
				.box img:hover {
					margin: 0;
				}
				.service-align {
					width: 352px;
				}
				.button {
					padding: 22px 94px;
				}
				.contact-center {
					width: 352px;
				}
				.contact-center h2 {
					font: 30px "opensans_regular";
				}
				.first, .second {
					padding: 0 10px;
				}
				.social {
					margin: 40px auto;
				}
				.second {
					width: 352px;
				}
				form {
					width: 332px;
				}
				input {
					width: 300px;
					padding: 15px 95px 15px 15px;
				}
				.input {
					width: 300px;
					padding: 15px 90px 145px 15px;
				}
			}

			@media screen and (max-width: 360px) {
				#header {
					width: 330px;
				}
				.menu-container li.active a, .menu li a, .menu-container a:hover {
					font-size: 10px;
				}
				.toggle-menu.active {
					right: 75px;
				}
				.menu-container {
					line-height: 28px;
					width: 75px;
				}
				.bx-wrapper, .bxslider img {
					height: 190px;
				}
				.item .text {
					top: 40px;
				}
				.logo {
					margin: 19px 20px;
				}
				.nav a {
					font: 10px "opensans_regular";
					padding: 10px 10px;
				}
				.item .text {
					top: 40px;

				}
				.text h1 {
					font: 23px "opensans-semibold";
				}
				.text p {
					font: 12px "opensans_regular";
				}
				.text a {
					padding: 2px;
					margin-top: 0;
					border: 2px solid #fff;
					font: 12px "opensans-semibold";
				}
				#team {
					width: 330px;
				}
				.box a {
					margin: 0 64px 55px;
				}
				.box img:hover {
					margin: 0;
				}
				.name {
					padding: 0;
					margin: 30px 35px 50px;
				}
				.service-align {
					width: 330px;
				}
				.button {
					padding: 22px 83px;
				}
				.contact-center {
					width: 330px;
				}
				.contact-center h2 {
					margin: 30px auto
					font: 30px "opensans_regular";
				}
				.first, .second {
					padding: 0 10px;
				}
				.social {
					margin: 40px auto;
				}
				.second {
					width: 330px;
				}
				form {
					width: 310px;
				}
				input {
					width: 270px;
					margin: 15px;
					float: none;
					padding: 15px 35px 15px 15px;
				}
				.input {
					width: 270px;
					padding: 15px 30px 145px 15px;
				}
				button {
					margin: 0 60px;
					float: none;
				}
			}

			@media screen and (max-width: 320px) {
				body {
					margin: 0;
				}
				#header {
					width: 300px;
				}
				.logo {
					margin: 19px 20px;
				}
				.bx-wrapper, .bxslider img {
					height: 150px;
				}
				.nav a {
					font: 10px "opensans_regular";
					padding: 10px 10px;
				}
				.item .text {
					top: 30px;
				}
				.text h1 {
					font: 20px "opensans-semibold";
				}
				.text p {
					font: 12px "opensans_regular";
				}
				.text a {
					display: none;
				}
				.bx-next, .bx-prev {
					right: 10px;
					top: 40%;
					margin-top: -15px;
					width: 30px;
					height: 30px;
					line-height: 27px;
					font-size: 30px;
				}
				#team {
					width: 300px;
					margin: 80px auto;
				}
				#team h2 {
					font: 30px "opensans_regular";
					margin: 0 auto 50px;
				}
				.box {
					width: 100%;
				}
				.box a {
					margin: 0 50px 50px;
				}
				.name {
					padding: 0;
					margin: 30px 35px 50px;
				}
				.service-align {
					width: 300px;
					padding: 0 30px 40px;
				}
				.price-left, .price-center, .price-right {
					width: 100%;
					margin: 50px 0;
				}
				.service-price {
					margin: 0 auto 80px;
				}
				.button {
					padding: 20px 54px;
				}
				.btn {
					padding: 15px 34px;
					font: 14px "opensans-semibold";
				}
				.contact-center {
					width: 300px;
				}
				.contact-center h2 {
					font: 26px "opensans_regular";
					margin: 30px;
				}
				.container-one, .container-two {
					width: 100%;
				}
				.first {
					padding: 0 20px 0;
					text-align: center;
				}
				.first h3 {
					font: 20px "opensans_regular";
				}
				.social {
					margin: 40px auto;
				}
				.second {
					width: 300px; 
				}
				form {
					width: 280px;
				}
				input {
					width: 250px;
					margin: 15px;
					float: none;
					padding: 15px 35px 15px 15px;
				}
				.input {
					width: 250px;
					padding: 15px 30px 145px 20px;
				}
				button {
					margin: 0 60px;
					float: none;
				}
			}